

html{height:100%;}
body{height:100%; background-color:#e7f4fa; overflow:auto; scrollbar-3dlight-color:#FFF; scrollbar-highlight-color:#CCC; scrollbar-face-color:#F7F7F7; scrollbar-arrow-color:#333; scrollbar-shadow-color:#CCC; scrollbar-darkshadow-color:#FFF; scrollbar-track-color:#F1F1F1; }

.role_tree{ padding:10px;}
.tree_top{padding:0px 0px 10px 0px; height:30px; overflow:hidden;}


.dtree {
	font-size: 12px;
	color: #000000;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #000000;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: none;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	
}