<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd	
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.1.xsd">
	 
	<!-- 通过JNDI查找数据源（生产环境使用）--> 
	<!--<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/hgpjDS"></property>
	</bean>-->
	
	 <!--定义使用apache common数据源（开发环境使用） -->
	 <!--
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName"><value>com.microsoft.sqlserver.jdbc.SQLServerDriver</value></property>
        <property name="url"><value>jdbc:sqlserver://10.101.2.12:1433;DatabaseName=HGWZH</value></property>
        <property name="username"><value>sa</value></property>
        <property name="password"><value>sa</value></property>
    </bean>
     -->
     <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:com/eclink/hgpj/util/dbconfig.properties</value>
            </list>
        </property>
    </bean>
          <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" /> 
     <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName"><value>com.ibm.as400.access.AS400JDBCDriver</value></property>
        <property name="url" value="jdbc:as400://10.1.5.37/${AMPHLIB0};translate binary=true"></property>
        <property name="username"><value>amapics</value></property>
        <property name="password"><value>amapics</value></property>
    </bean>
    
    <bean id="dataSource2" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName"><value>com.ibm.as400.access.AS400JDBCDriver</value></property>
        <property name="url" value="jdbc:as400://10.1.5.37/${AMFLIB0};translate binary=true"></property>
        <property name="username"><value>amapics</value></property>
        <property name="password"><value>amapics</value></property>
    </bean>
    
    <!-- 配置数据库lob类型处理bean -->
    <bean id="lobHandler"
          class="org.springframework.jdbc.support.lob.DefaultLobHandler"/>
	
	<!-- 事务管理 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource">
            <ref local="dataSource" />
        </property>
    </bean> 
    
    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation" value="classpath:sqlMapConfig.xml"/>
        
        <property name="lobHandler" ref="lobHandler"/>
    </bean>

	
	<aop:config proxy-target-class="true">
        <aop:pointcut id="transactionAOP" expression="execution(public * com.eclink.hgpj.*.biz.*.*(..))" />
        <aop:advisor pointcut-ref="transactionAOP" advice-ref="txAdvice" />
    </aop:config>
    
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="update*" read-only="false" rollback-for="Exception" />
            <tx:method name="remove*" read-only="false" rollback-for="Exception" />
            <tx:method name="delete*" read-only="false" rollback-for="Exception" />
            <tx:method name="insert*" read-only="false" rollback-for="Exception" />
            <tx:method name="move*" read-only="false" rollback-for="Exception" />
            <tx:method name="add*" read-only="false" rollback-for="Exception" />
            <tx:method name="save*" read-only="false" rollback-for="Exception" />
            <tx:method name="modify*" read-only="false" rollback-for="Exception" />
            <tx:method name="grant*" read-only="false" rollback-for="Exception" />
            <tx:method name="send*" read-only="false" rollback-for="Exception" />
            <tx:method name="pop*" read-only="false" rollback-for="Exception" />
            <tx:method name="*"  propagation="SUPPORTS"/>
        </tx:attributes>
    </tx:advice>
    
</beans>